<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
	<div class="container" layout:fragment="content">

		<h1>Editar Precio Sondeo</h1>
		<h2 th:text=${registroSondeo.getPeriodoSondeo().getNombrePeriodo()}></h2>
		<h2 th:text=${registroSondeo.getEstablecimiento().getNombreEstablecimiento()}></h2>		
		<h2 th:text="${registroSondeo.getProducto().getNombreProducto() + ' - ' + registroSondeo.getProducto().getMarca().getNombreMarca() + ' - ' + registroSondeo.getProducto().getPresentacion() + ' - ' + registroSondeo.getProducto().getUnidadMedida().getAbreviatura()}"></h2>

		<form action="#" id="form-registrar-usuario" th:action="@{/updateregistrosondeo}" th:object="${registroSondeo}">			
						
			<div class="input-group mb-3">				
				<select class="custom-select" name="periodo_add"  aria-describedby="error_periodo" hidden required>				
					<option th:value="${registroSondeo.getPeriodoSondeo().getIdPeriodo()}" selected></option>
                </select>                
			</div>
			<small id="error_rol" class="form-text text-danger"></small>
					   
			
			<div class="input-group mb-3">				
				<select id="select-establecimiento" class="custom-select" name="establecimiento_add"  aria-describedby="error_establecimiento" hidden required>
					<option th:value="${registroSondeo.getEstablecimiento().getIdEstablecimiento()}" selected></option>
                </select>                    
			</div>
			<small id="error_rol" class="form-text text-danger"></small>


			
			<div class="input-group mb-3">				
				<select id="select-producto" class="custom-select" name="producto_add"  aria-describedby="error_producto" hidden required>
					<option th:value="${registroSondeo.getProducto().getIdProducto()}" selected></option>
                </select>                    
			</div>
			<small id="error_rol" class="form-text text-danger"></small>
			
			
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Precio</div>
					</div>
					<input type="number" step="0.01" min="0.00" class="form-control" placeholder="Precio" th:field="*{precio}" required>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">Peso</div>
					</div>
					<input type="number" step="0.01" min="0.00" class="form-control" placeholder="Peso" th:field="*{peso}" aria-describedby="error_username" required>					
				</div>
				<small id="error_username" class="form-text text-danger"></small>
            </div>
                        
            <br>
			<p>
				<input class="btn btn-primary" type="submit" value="Editar">
				<input id="btn-cancelar" class="btn btn-danger" type="button" value="Cancelar">
			</p>

		</form>
	</div>
	</div>
	<section layout:fragment="javascript-content">
		<script src="js/editar_registro_sondeo.js"></script>
	</section>
</body>
</html>