<!DOCTYPE html>
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  layout:decorate="~{layouts/layout}"
>
  <body>
    <div class="container" layout:fragment="content">
      <h1>Lista de registro de precios de productos</h1>
      <h2 th:text="${periodo.getNombrePeriodo()}"></h2>
      <a class="btn btn-info btn-sm " th:href="@{/report?id_periodo=__${periodo.getIdPeriodo()}__}">
                        <i class="fas fa-hourglass-end"></i> Generar reporte
					</a>
      <form
        action="#"
        id="form-registrar-usuario"
        th:action="@{/addregistrosondeo}"
        th:object="${registroSondeo}"
      >
        <div class="input-group mb-3">
          <!--<small id="error_rol" class="form-text text-danger"></small>-->
        </div>
        <small id="error_rol" class="form-text text-danger"></small
        ><!--¿No debería estar una línea arriba?-->

        <table
          class="table table-bordered table-striped"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Producto</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Peso</th>
              <th>Establecimiento</th>
              <th style="width:150px"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="sondeo : ${listaRegistroSondeo}">
              <td th:text="${sondeo.getProducto().getNombreProducto()}"></td>
              <td
                th:text="${sondeo.getProducto().getMarca().getNombreMarca()}"
              ></td>
              <td th:text="${sondeo.getPrecio()}"></td>
              <td
                th:text="${sondeo.getPeso()} + ${sondeo.getProducto().getUnidadMedida().getAbreviatura()}"
              ></td>
              <td
                th:text="${sondeo.getEstablecimiento().getNombreEstablecimiento()}"
              ></td>
		
		<form action="#" id="form-registrar-usuario" th:action="@{/addregistrosondeo}" th:object="${registroSondeo}">			
			
			
			<div class="input-group mb-3">
                <!--<small id="error_rol" class="form-text text-danger"></small>-->
			</div>
			<small id="error_rol" class="form-text text-danger"></small><!--¿No debería estar una línea arriba?-->
			
			
              <td class="text-center">
                <a
                  class="btn btn-info btn-sm mb-1"
                  th:href="@{/eliminarregistro/}+${periodo.getIdPeriodo()}+@{/}+${sondeo.getProducto().getIdProducto()}+@{/}+${sondeo.getEstablecimiento().getIdEstablecimiento()}"
                >
                  <i class="fas fa-trash"></i> Eliminar registro
                </a>
                <a
                  class="btn btn-info btn-sm "
                  th:href="@{/editarregistro?periodo_id=}+${periodo.getIdPeriodo()}+@{&establecimiento_id=}+${sondeo.getEstablecimiento().getIdEstablecimiento()}+@{&producto_id=}+${sondeo.getProducto().getIdProducto()}"
                >
                  <i class="fas fa-edit"></i> Editar registro
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <section layout:fragment="javascript-content">
      <script src="js/eliminar_registro.js"></script>
    </section>
  </body>
</html>
