<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<body>
	<div class="container" layout:fragment="content">

		<h1>Listado de periodos activos.</h1>

		<form action="#" id="form-registrar-usuario" th:action="@{/addregistrosondeo}" th:object="${registroSondeo}">			
			
			
			<div class="input-group mb-3">
				
                <!--<small id="error_rol" class="form-text text-danger"></small>-->
			</div>
			<small id="error_rol" class="form-text text-danger"></small><!--¿No debería estar una línea arriba?-->
			
			<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Desde</th>
                <th>Hasta</th>
               
				<th style="width:250px">Acción</th>
			</tr>
		</thead>
		<tbody >			
			<tr th:each="periodo : ${listaPeriodoSondeo}">				
				<td th:text="${periodo.getNombrePeriodo()}"></td>
				<td th:text="${periodo.getFechaInicio()}"></td>
                <td th:text="${periodo.getFechaFin()}"></td>
                
				<td class="text-center">
					<a class="btn btn-info " th:href="@{/registrossondeos?periodo_id=__${periodo.getIdPeriodo()}__}">
                        <i class="fas fa-eye"></i> Ver sondeo de precios
					</a>
				</td>				
			</tr>			
		</tbody>
	</table>
                       

</form>
</div>
<section layout:fragment="javascript-content">
		<script src=""></script>
	</section>
</body>
</html>