<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
	<div class="container" layout:fragment="content">
	<h1>Registrar usuario</h1>
	<form action="#" th:action="@{/updateusuario}" th:object="${usuario}" method="post">
	
		<input type="hidden" th:field="*{idUsuario}">
		
		<p>Nombre: <input type="text" th:field="*{nombre}"></p>
		
		<p>Nombre de usuario:<input type="text" th:field="*{username}"></p>
		
		<p>Correo: <input type="email" th:field="*{correo}"></p>
		
		<p>Nueva contraseña: <input type="password" th:field="*{password}"></p>
		
		<p><input type="submit" value="Submit"></p>
	</form>
</div>
</body>
</html>