<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
	<div class="container text-center" layout:fragment="content">
	<div class="jumbotron">
  <h1 class="display-3">Sistema Informático de Sondeos de Precios de la canasta básica</h1>
  <hr class="my-4">
  <p>El objetivo del sistema es que la ciudadania pueda consultar los rangos de precios de los diferentes productos de la canasta básica, desde granos básicos hasta abarrotes y lácteos</p>
 
</div>
</div>
</body>
</html>