<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>	
	<div class="container" layout:fragment="content">
	<h1>Administrar usuarios</h1>
	<a  th:href="@{/registrarusuario}">
	    <button class="btn btn-primary mb-4" >Registrar usuario</button>
	</a>
	<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Usename</th>
				<th>Correo</th>
				<th style="width:150px"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.getNombre()}"></td>
				<td th:text="${usuario.getUsername()}"></td>
				<td th:text="${usuario.getCorreo()}"></td>
				<td class="text-center">
					<a  class="btn btn-primary btn-sm " th:href="@{/editarusuario?id=__${usuario.getIdUsuario()}__}">
					   Editar
					</a>
					<a  class="btn btn-danger btn-sm " th:href="@{/eliminarusuario?id=__${usuario.getIdUsuario()}__}">
					    Eliminar
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<form th:action="@{/app-logout}" method="POST">
	<input class="btn btn-primary" type="submit" value="Logout"/>
	</form>
</div>
</body>
</html>
